.title {
  margin-top: 1rem;
  background-color: darkgrey;
  padding: 0.5rem;
  text-transform: capitalize;
}
pre {
  background: lightgrey;
  padding: 1rem;
  margin-top: 0;
}
code {
  white-space: break-spaces;
}